<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="../../images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">

  <p ng-if="vm.loading">Loading...</p>

  <div ng-repeat="post in vm.posts">
    <h4>{{post.alias}}</h4>
    <a ng-if="post.created_at" ng-href="#/readPost/{{post.id}}">{{post.created_at}}</a>
    <p ng-if="post.loading">Loading...</p>
    <div ng-if="post.error" class="alert alert-danger">
      <strong>{{post.error.statusText}}</strong>
      <hr>
      <p>{{post.error.description}}</p>
    </div>
  </div>

  <div ng-if="error" class="alert alert-danger">
    <strong>{{error.name}}</strong>
    <hr>
    <p>{{error.message}}</p>
  </div>

</div>
<div ng-if="currentUser">Welcome, {{ currentUser.username }}</div>

<div ng-if="isAuthorized(userRoles.user)">You're USER!!!!</div>
<div login-dialog ng-if="!isLoginPage"></div>
